body {
	background-color: #003366;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	margin: auto;
}

h1 {
	padding: 40px;
}

#box {
	padding: 50px;
	max-width: 600px;
}

#search-btn {
	color: #003366;
}

#search-btn:hover {
	color: #66ff66;
}

#random {
	color: #66ff66;
}

#random:hover {
	text-decoration: none;
}

#results-container {
	width: 70%;
}

#results {
	list-style-type: none;
	text-align: center;
}

li {
	text-align: left;
	padding: 10px;
	background-color: rgba(179, 218, 255, 0.2);
	margin: 15px;
	border-radius: 5px;
}

li a {
	color: #66ff66;
	font-size: 20px;
	font-weight: bold;
}

li a:hover {
	color: #003366;
	text-decoration: none;
}

footer {
	color: #66ff66;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0;
	margin-top: 40px;
}